<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
  <head>
  	<title>Login</title>
    <th:block th:replace="fragments/commonHead"></th:block>
  </head>
  <body>
    <h1 th:text="#{msg.hello}"></h1>
	<h2 th:text="${loginstat}"></h2>
	user ID: <span th:text="${user}"></span>
	<form name="frmLogin" id="frmLogin" th:action="@{/auth/login}" method="post">
	<ul>
	<li><input type="text" id="userId" name="userId"></input></li>
	<li><input type="password" id="userPass" name="userPass"></input><input type="submit" id="login" value="Login"/></li>
	</ul>
	</form>
	<footer th:replace="fragments/footer :: footer"></footer>
	<th:block th:replace="fragments/commonScript"></th:block>
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script th:src="|@{/}script/js/jquery-1.11.0.min.js|"></script>	
	<script th:inline="javascript">
		var ctx = /*[[ @{/} ]]*/;
	</script>
	
	<script >
	$(document).ready(function (){
		
		$('#login').click( function(){
			login($('#userId'), $('#userPass'));
		});
	});	
	
	
	function login(id,pass){
		var $form = $('#frmLogin');
		$form.submit();
	}
	
	</script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <!-- <script th:src="@{/script/bootstrap/js/bootstrap.min.js}"></script> -->
  </body>
</html>
