<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>SBB List</title>
	<th:block th:replace="fragments/commonHead"></th:block>
	<link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/datatables/jquery.dataTables.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/datatables/extensions/dataTables.jqueryui.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/datatables/select/select.dataTables.min.css}">
</head>
<body>
      <div>
         <div class="wrapper">
               <nav th:replace="fragments/left :: left">
               </nav>
         <div class="page-content">
            <div id="content">
               <nav th:replace="fragments/gnb :: gnb">
               </nav>
            </div>
            <!-- content -->
				<div class="ht-100v d-flex">
				
				<!--tracker 메뉴위치 start-->
	            <div class="pageheader pd-t-25 pd-b-35 tracker">
	                  <div class="pd-t-5 pd-b-5">
	                     <h1 class="pd-0 mg-0 tx-20 text-overflow">SBB Setting</h1>
	                  </div>
	                  <div class="breadcrumb pd-0 mg-0">
	                     <a class="breadcrumb-item" href="/"><i class="icon ion-ios-home-outline"></i>HOME</a>
	                     <a class="breadcrumb-item" href="#">Setting</a>
	                     <span class="breadcrumb-item active">SBB Setting</span>
	                  </div>
	               </div>
	         <!--tracker 메뉴위치 end-->
         
					<div class="card shadow-none pd-20 mx-auto wd-280 text-center bd-1 align-self-center data_table userlist_margin">
               <!-- Scrollable Table Start -->
               <!--================================-->
			  
               <div class="table_name_h row">
                  <button type="button" class="btn btn-custom-primary table_name" id="settingUserTrigger"><i
                        class="fas fa-plus"></i>ADD</button>
                  <button type="button" class="btn btn-custom-primary table_name" id="userEditTrigger"><i
                        class="fas fa-pencil-alt"></i>EDIT</button>
               </div>
               <div class="card-body collapse show" id="collapse7 data_contents">

                  <table id="scrollableTable" class="table hover responsive row-border nowrap text_cen">
                     <thead>
                        <tr class="tr_header">
                        	<th class ='white'>SBB ID</th>
                            <th>SBB Name</th>
                            <th>Nick</th>
                            <th>SBB Status</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr th:each="row:${sbbs}" class="tr_hover">
                           <td th:text="${row.sbbId}"></td>
                           <td th:text="${row.sbbName}"></td>
                           <td th:text="${row.alias}" class='white'></td>
                           <th:block th:if="${row.trafficYn == 'Y'}">
                           	<td>Active</td>
                           </th:block>
                           <th:block th:unless="${row.trafficYn == 'Y'}">
                           	<td>Inactive</td>
                           </th:block>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
				</div>
				 <div class="settingUser" id="settingSbb">
			         <div class="wrapper" id="demoSettingSidebarScroll">
			            <!--<i class="ion-ios-close-empty closed-btn"></i>-->
			            
			             <div class="card shadow-none pd-20 mx-auto wd-280 text-center bd-1 align-self-center singupPad">
				            <h4 class="sidebar_header">SBB <span id="statTitle">Edit</span></h4>
				            <h5 class="staninfo">Basic Info</h5>
				               <form id="frmRegSbb">
				                  <p class ="form-control_name">SBB Name</p>
				                  <div class="form-group input-group">
				                     <input class="form-control sizz" placeholder="SBB Name" type="text" id="sbbName">
				                     <input type="hidden" id="sbbId"></input>
				                  </div>
				                  <p class ="form-control_name">IP</p>
				                  <div class="form-group input-group">
				                        <input class="form-control sizz" placeholder="IP" type="text" id="sbbIp">
				                  </div>
				                  <p class ="form-control_name">별칭</p>
				                  <div class="form-group input-group">
				                     <input class="form-control sizz" placeholder="금융서버" type="text" id="sbbAlias">
				                  </div>
				                  <p class ="form-control_name">HOST IP</p>
				                  <div class="form-group input-group">
				                     <input id="sms-input" class="form-control sizz" placeholder="HOST IP" type="text" id="hostIp">
				                  </div>
				                  <p class ="form-control_name">HOST NAME</p>
				                  <div class="form-group input-group">
				                     <input id="sms-input" class="form-control sizz" placeholder="HOST NAME" type="text" id="hostName">
				                  </div>
				
				
				                  <h5 class="staninfo">Setting</h5>
				
				                  <p class ="form-control_name">SFTP/SSH - PORT</p>
				                  <div class="form-group input-group">
				                        <input id="sms-input" class="form-control sizz" placeholder="PORT" type="text" id="sshPort">
				                  </div>
				                  <p class ="form-control_name">OS Version</p>
				                  <div class="form-group input-group">
				                        <input id="sms-input" class="form-control sizz" placeholder="OS Version" type="text" id="osVer">
				                  </div>
				                  <p class ="form-control_name">Neurotron Version</p>
				                  <div class="form-group input-group">
				                        <input id="sms-input" class="form-control sizz" placeholder="Neurotron Version" type="text" id="neurotronVer">
				                  </div>
				                  <input type="hidden" id="hostId"></input>
				              
				               </form>
				               <div class="form-group">
				                     <button type="submit" class="btn btn-custom-primary btn-block tx-13" id="btnRegSbb">Confirm</button>
				             </div>
				            </div>
			            </div>
			      </div>
				<footer th:replace="fragments/footer :: footer"></footer>
         </div>
      </div>
      </div>
      <div th:replace="fragments/right :: right"></div>
      <th:block th:replace="fragments/commonScript"></th:block>
      <script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
      <script th:src="@{/assets/plugins/datatables/responsive/dataTables.responsive.js}"></script>
      <script th:src="@{/assets/plugins/datatables/extensions/dataTables.jqueryui.min.js}"></script>
      <script th:src="@{/assets/plugins/datatables/select/dataTables.select.min.js}"></script>
	  <script>
	  	var actionMode = "add";//add, edit
	  	var clickAdd = false;
	  	regEvent = function(){
	  		$('#btnRegSbb').click(function(){
	  			doAction();
	  		});
	  		
	  		$('#settingUserTrigger').click(function(){
	  			mode="add";
	  			updateTitle(mode);
	  			clickAdd = true;
	  			console.log('add');
	  			reset();
	  			$('#userEditTrigger').trigger('click');
	  		});
	  		
	  		var $editSidebar = $( "#settingSbb" );
	  		$editSidebar.simplerSidebar( {
	  			attr: "sidebar-main",
	  			init: "closed",
	  			selectors: {
	  				trigger: "#userEditTrigger",
	  				quitter: ".quitter"
	  			},
	  			animation: {
	  				easing: "easeOutQuint"
	  			},
	  			events: {
	  				callbacks: {
	  					animation: {
	  						open: function(){
	  							if(!clickAdd){
	  								mode = "edit";
	  							}else{
	  								mode = "add";
	  								clickAdd = false;
	  							}
	  							updateTitle(mode);
	  							console.log('edit open');
	  						},
	  						close: function(){
	  							console.log('edit close');
	  						}
	  					}
	  				}
	  			}
	  		} );
	  	}
	  	
	  	function updateTitle(stat){
	  		if(stat === 'add'){
	  			$('#statTitle').html("  Create")
	  		}else{
	  			$('#statTitle').html("  Edit")
	  		}
	  	}
	  	function reset(){
	  		$('#frmRegSbb')[0].reset();
	  	}
	  	
	  	var row = null;
	  	var sel = null;
		var table = $('#scrollableTable').DataTable({
			 select: {
	            style: 'os',
	            blurable: true
	        },
			responsive : true,
			language : {
				searchPlaceholder : 'Search...',
				sSearch : ''
			},
			"order" : [ [ 0, "desc" ] ],
			"scrollY" : "300px",
			"scrollCollapse" : false,
			"paging" : false, 
		});
		table
	        .on( 'select', function ( e, dt, type, indexes ) {
	            console.log("select", e, dt, type, indexes );
	            sel = table.rows({selected:true}).data()[0];
	            console.log(">>",sel);
	            
	            getInfo(sel[0], setEdit);
	        } )
	        .on( 'deselect', function ( e, dt, type, indexes ) {
	            console.log("deselect", e, dt, type, indexes );
	            row = null;
	        } );
	
		function setEdit(){
        	$('#sbbId').val(row.sbbId);
			$('#sbbName').val(row.sbbName);
			$('#sbbIp').val(row.sbbIp);
			$('#sbbAlias').val(row.sbbAlias);
			$('#hostIp').val(row.hostIp);
			$('#hostName').val(row.hostName);
			$('#sshPort').val(row.sshPort);
			$('#osVer').val(row.osVer);
			$('#neurotronVer').val(row.neurotronVer);
			$('#hostId').val(row.hostId);
		}
        
		function doAction(){
			if(mode == "add"){
				doReg();
			}else if(mode == "edit"){
				doEdit();
			}
		}
		
		function getInfo(sbbId, cb){
			var param = {sbbId: sbbId};
			var url = ctx+"setting/sbbinfo";
			var req = $.ajax({
		        type : "POST",
		        async: false,
		        url : url,
		        data: param
		    });
			req.done(function(out){
				if(out.code === 0){
					row = out.data;
					if(cb){
						cb();
					}
				}else{
					
				}				
			}).fail(function(err){
				console.log(err);
			}).always(function(){
				
			});
		}
		
		function doReg(){
			var params = {
					sbbId: $('#sbbId').val(),
					sbbName: $('#sbbName').val(),
					sbbIp: $('#sbbIp').val(),
					sbbAlias: $('#sbbAlias').val(),
					hostIp: $('#hostIp').val(),
					hostName: $('#hostName').val(),
					sshPort: $('#sshPort').val(),
					osVer: $('#osVer').val(),
					neurotronVer: $('#neurotronVer').val()
			};
			if(!validate(params)){
				
				return;
			}
			var url = ctx+"setting/regsbbinfo";
			var req = $.ajax({
		        type : "POST",
		        async: false,
		        dataType: "json",
		        contentType: "application/json",
		        url : url,
		        data: JSON.stringify(params)
		    });
			req.done(function(out){
				if(out.code === 0){
					showAlert('신규 SBB가 정상적으로 등록 되었습니다.');
					reset();
					location.reload();
				}else{
					showAlert('신규 SBB 등록에 실패 하였습니다.\n' + out.errMsg);
				}		
				
			}).fail(function(err){
				console.log(err);
			}).always(function(){
				
			});
		}
		
		function doEdit(){
			var params = {
					sbbId: $('#sbbId').val(),
					sbbName: $('#sbbName').val(),
					sbbIp: $('#sbbIp').val(),
					sbbAlias: $('#sbbAlias').val(),
					hostIp: $('#hostIp').val(),
					hostName: $('#hostName').val(),
					sshPort: $('#sshPort').val(),
					osVer: $('#osVer').val(),
					neurotronVer: $('#neurotronVer').val(),
					hostId: $('#hostId').val()
			};
			if(!validate(params)){
				
				return;
			}
			
			var url = ctx+"setting/updatesbbinfo";
			var req = $.ajax({
		        type : "POST",
		        async: false,
		        dataType: "json",
		        contentType: "application/json",
		        url : url,
		        data: JSON.stringify(params)
		    });
			req.done(function(out){
				if(out.code === 0){
					showAlert('SBB 정보가 정상적으로 수정 되었습니다.');
					reset();
					location.reload();
				}else{
					showAlert('SBB 정보 수정에 실패 하였습니다.\n' + out.errMsg);
				}				
			}).fail(function(err){
				console.log(err);
			}).always(function(){
				
			});
		}
		
		function validate(params){
			//QQQ sbb info validation
			
			return true;
		}
	  </script>
</body>
</html>