<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Syslog</title>
	<th:block th:replace="fragments/commonHead"></th:block>
</head>
<body>
	<div>
         <div class="wrapper">
               <nav th:replace="fragments/left :: left">
               </nav>
         <div class="page-content">
            <div id="content">
               <nav th:replace="fragments/gnb :: gnb">
               </nav>
            </div>
            <!-- content -->
				<div class="ht-100v d-flex">
					
					<div class="pageheader pd-t-25 pd-b-35 tracker">
	                  <div class="pd-t-5 pd-b-5">
	                     <h1 class="pd-0 mg-0 tx-20 text-overflow">Log Integrity</h1>
	                  </div>
	                  <div class="breadcrumb pd-0 mg-0">
	                     <a class="breadcrumb-item"><i class="icon ion-ios-home-outline"></i>Home</a>
	                     <a class="breadcrumb-item">Anomaly Detection</a>
	                     <span class="breadcrumb-item active">Log Integrity</span>
	                  </div>
	               </div>  
	               <div class="card_sq_da_170 shadow-none mx-auto text-center bd-transparent bg-transparent align-self-center">
	                  <div>
			    <div class="boxes">
			      <div class="box">
			          <p class="top_boxp">Words: <b id="statTextWords1">0</b> Characters: <b id="statTextCharacters1">0</b></p>			
					    <fieldset>
					        <legend class="HOST_box">HOST</legend>					
					        <div>
					          
					           
					            <div class="file_input">
								    <label>
								        파일 가져오기
								        <input type="file" id="file1"  onchange="javascript:document.getElementById('file_route').value=this.value">
								    </label>
								    <div class="file-root">
										<span id="filename"></span>
										<span id="filesize"></span>
									</div>		


								    <select id="encoding">
										<option>EUC-KR</option>
										<option>UTF-8</option>
									</select>
								</div>						
					        </div>					       
					    </fieldset>			
					    <div class="file-date">
							<span id="filetype"></span>
							<span id="filedate"></span>
						</div>				
						<fieldset id="contentDisplay">
						<!-- <legend>Content</legend> -->
					 		<textarea rows="10" cols="50" id="fileDisplayContext" class="form-control text1"></textarea>
						</fieldset>     
			      </div>
			      
			      <div class="box">
			          <p class="top_boxp" >Words: <b id="statTextWords2">0</b> Characters: <b id="statTextCharacters2">0</b></p>			
					    <fieldset>
					        <legend class="HOST_box">SBB</legend>					
					        <div>
					           
					             <div class="file_input">
								    <label>
								        파일 가져오기
								        <input type="file" id="file2"  onchange="javascript:document.getElementById('file_route').value=this.value">
								    </label>
								    <div class="file-root">
										<span id="filename2"></span>
										<span id="filesize2"></span>
										
									</div>		
 									

								    <select id="encoding2">
										<option>EUC-KR</option>
										<option>UTF-8</option>
									</select>
								</div>
															
					        </div>					       
					    </fieldset>		
					    <div class="file-date">
							<span id="filetype2"></span>
							<span id="filedate2"></span>
						</div>				
						<fieldset id="contentDisplay2">
						<!-- <legend>Content</legend> -->
					 		<textarea rows="10" cols="50" id="fileDisplayContext2" class="form-control text2"></textarea>
						</fieldset>     
			      </div>
			      
			     
			    </div>
			<!--=================================================================================  -->
			    <div class="boxes_2">
			      <p>아래 버튼을 눌러 로그 무결성을 체크하십시요.</p>
			      <button id="integrity" class="compare-text" >무결성 체크</button>
			      <div class="levenshtein">Levenshtein: <span id="levenshtein">0</span></div>
			    </div>
			<!--=========================================================================================  -->
			    <div class="tabmenu" id="tabmenu">
			      <!-- Nav tabs -->
			      <ul class="nav nav-tabs" role="tablist">
			        <li role="presentation" class="active tab">
			          <a href="#one-text" aria-controls="one-text" role="tab" data-toggle="tab" aria-expanded="true">Text in <b>1.</b> column</a>
			        </li>
			        <li role="presentation" class="tab">
			          <a href="#two-texts" aria-controls="two-texts" role="tab" data-toggle="tab" aria-expanded="false">Text in <b>2.</b> columns</a>
			        </li>
			        <li>
			          <p class="remove-add">
			            <span class="diff-deletion"> </span><i class="fas fa-circle red"></i>Removed
			            <span class="diff-insertion"> </span><i class="fas fa-circle green"></i> Added
			          </p>
			        </li>
			      </ul>
			      <!-- Tab panes - OK -->
			      <div class="tab-content">
			        <div role="tabpanel" class="tab-pane active" id="one-text">
			          <div class="output"><span class="diff-insertion"></span></div>
			        </div>
			        <div role="tabpanel" class="tab-pane" id="two-texts">
			          <div class="output_2">
			            <div class=" first-text"></div>
			            <div class=" second-text"><span class="diff-insertion"></span></div>
			          </div>
			        </div>
			      </div>
			    </div>
			  </div>
	                 
	               </div> 
				</div>
         </div>
         <div th:replace="fragments/modals/base :: modal"></div>
      </div>
      </div>
       <script th:src="@{/assets/plugins/diff/js/modified_jquery-1.11.3.js}"></script>
      <div th:replace="fragments/right :: right"></div>
      <th:block th:replace="fragments/commonScript"></th:block>
    
	  <script th:src="@{/assets/plugins/diff/js/main.js}"></script>
      
	  <script type="text/javascript">
		window.onload = function(){
		//파일을 선택할 때
		document.getElementById('file1').onchange = function(){
			//선택한 파일의 정보를 가지는 객체를 반환
			//type=file은 배열 형태이며 가장 첫 부분에 파일의 정보가 들어있다.
			var file = this.files[0];
			readProcess();
			//파일의 이름 출력
			/* alert(file.name + '을 선택했습니다.'); */
		};
		
		//읽기 버튼을 클릭할 때 이벤트 연결
/* 		document.getElementById('btnStart1').onclick = function(){
			readProcess();
		}; */
				
		document.getElementById('file2').onchange = function(){
			//선택한 파일의 정보를 가지는 객체를 반환
			//type=file은 배열 형태이며 가장 첫 부분에 파일의 정보가 들어있다.
			var file = this.files[0];
			readProcess2();
			//파일의 이름 출력
			/* alert(file.name + '을 선택했습니다.'); */
		};
	};
	
	
	function readProcess(){
		//선택한 파일에 대한 정보 읽기
		var file = document.getElementById('file1').files[0];
		
		if(!file){
			alert('파일을 선택하세요!');
			return;
		}
		
											//html 허용 X, innerHTML은 html 허용 O
		document.getElementById('filename').textContent = file.name;
		document.getElementById('filesize').textContent = '(' + file.size +'bytes)';
		document.getElementById('filetype').textContent = file.type;
																				//한글화
		document.getElementById('filedate').textContent = file.lastModifiedDate.toLocaleString();
																				
		//파일의 내용 읽기
		var reader = new FileReader();
		var encodeList = document.getElementById('encoding');
		var encoding = encodeList.options[encodeList.selectedIndex].value;
		
		//선택한 파일을 내용 읽기
		reader.readAsText(file,encoding);
		
		//선택한 파일의 내용을 전부 읽어들였으면 호출
		reader.onload = function(){
			var disp = document.getElementById('fileDisplayContext');
			//읽어들인 내용을 출력
			disp.textContent = reader.result;
		};
		
		//선택한 파일의 내용을 읽어들일 때 오류 발생
		reader.onerror = function(){
			/*
			NOT_FOUND_ERR : 파일을 찾을 수 없을 때 
			SECURITY_ERR : 웹 어플리케이션에서 사용하기엔 보안상 좋지 않다고 판단했을 때
			ABORT_ERR : 파일 읽기 중단
			NOT_READABLE_ERR : 파일 읽기 권한이 없을 때
			ENCODING_ERR : Date URL 길이가 URL 길이의 상한을 초과할 때
			*/
							//타입도 같은지 체크
			if(reader.error.code === reader.error.NOT_READABLE_ERR) {
				alert('파일 읽기 권한이 없습니다.');
			}else if(reader.error.code === reader.error.ABORT_ERR){
				alert('파일 읽기가 중지됐습니다.');
			}else {
				alert('파일 읽기에 실패했습니다.');
			}
		};
	};
	
	
	
	function readProcess2(){
		//선택한 파일에 대한 정보 읽기
		var file = document.getElementById('file2').files[0];
		
		if(!file){
			alert('파일을 선택하세요!');
			return;
		}
		
											//html 허용 X, innerHTML은 html 허용 O
		document.getElementById('filename2').textContent = file.name;
		document.getElementById('filesize2').textContent = '(' + file.size +'bytes)';
		document.getElementById('filetype2').textContent = file.type;
																				//한글화
		document.getElementById('filedate2').textContent = file.lastModifiedDate.toLocaleString();
																				
		//파일의 내용 읽기
		var reader = new FileReader();
		var encodeList = document.getElementById('encoding2');
		var encoding = encodeList.options[encodeList.selectedIndex].value;
		
		//선택한 파일을 내용 읽기
		reader.readAsText(file,encoding);
		
		//선택한 파일의 내용을 전부 읽어들였으면 호출
		reader.onload = function(){
			var disp = document.getElementById('fileDisplayContext2');
			//읽어들인 내용을 출력
			disp.textContent = reader.result;
		};
		
		//선택한 파일의 내용을 읽어들일 때 오류 발생
		reader.onerror = function(){
			/*
			NOT_FOUND_ERR : 파일을 찾을 수 없을 때 
			SECURITY_ERR : 웹 어플리케이션에서 사용하기엔 보안상 좋지 않다고 판단했을 때
			ABORT_ERR : 파일 읽기 중단
			NOT_READABLE_ERR : 파일 읽기 권한이 없을 때
			ENCODING_ERR : Date URL 길이가 URL 길이의 상한을 초과할 때
			*/
							//타입도 같은지 체크
			if(reader.error.code === reader.error.NOT_READABLE_ERR) {
				alert('파일 읽기 권한이 없습니다.');
			}else if(reader.error.code === reader.error.ABORT_ERR){
				alert('파일 읽기가 중지됐습니다.');
			}else {
				alert('파일 읽기에 실패했습니다.');
			}
		};
	};
</script>
  <script>
  $("#integrity").click(function(){
	  $("#tabmenu").toggle();
	});
  </script>
</body>
</html>