      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="keyword" content="">
      <meta name="author"  content=""/>
      <title>Soteria Manager</title>
    
      <link rel="stylesheet" th:href="@{/assets/css/customScrollbar.css}">

      <link type="text/css" rel="stylesheet" th:href="@{/assets/css/bootstrap/css/bootstrap.css}"/>
      <link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/font-awesome/css/font-awesome.min.css}"/>
      <link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/flag-icon/flag-icon.min.css}"/>
      <link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/simple-line-icons/css/simple-line-icons.css}">
      
      <link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/ionicons/css/ionicons.css}">
      <link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/toastr/toastr.min.css}">
      <link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/chartist/chartist.css}">
      <link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/spinkit/spinkit.min.css}">
      <link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/apex-chart/apexcharts.css}">
      <link type="text/css" rel="stylesheet" th:href="@{/assets/css/app.min.css}"/>
      <link type="text/css" rel="stylesheet" th:href="@{/assets/css/style.css}"/>

      <link rel="icon" th:href="@{/assets/images/favicon.png}" type="image/x-icon">
      <link rel="stylesheet" type="text/css" th:href="@{/script/bootstrap/css/bootstrap-datetimepicker.css}" />
<!--      <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">-->
      
        <link type="text/css" rel="stylesheet" th:href="@{/assets/formval/docs.css}">
        <link type="text/css" rel="stylesheet" th:href="@{/assets/formval/parsley.css}">

  	 
      
      
      
      