<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="spinner" class="collapse show spinner-das total_spiner" style="display:none;" id="spinner">
	   <div class="spinner-das">
	      <div class="sk-three-bounce">
	         <div class="sk-child sk-bounce1"></div>
	         <div class="sk-child sk-bounce2"></div>
	         <div class="sk-child sk-bounce3"></div>
	      </div>
	   </div>
	</div>   
</body>
</html>