<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Neurotron AI Details</title>
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/style.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/assets/css/app.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/assets/plugins/datatables/jquery.dataTables.min.css}">
</head>
<body>
    <div class="back_detail">
        <div class="detail_log_neuro">
            <div class="detail_log_neuro_head"><h1>Neurotron AI Detail Log</h1></div>
                <table id="detail_log" class="row-border" style="width:100%">
                    <thead>
                        <tr> 
                            <th>No</th>
                            <th>Datetime</th>
                            <th>Systemcall</th>
                            <th>Process Name</th>
                            <th>Host Name</th>
                            <th>OS</th>
                            <th>Argument</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                    <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>Datetime</td>
                            <td>Systemcall</td>
                            <td>Process Name</td>
                            <td>Host Name</td>
                            <td>OS</td>
                            <td>Argument</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>

    <!-- <footer class="page-footer_1">            
        <p>Copyright&copy; 2019 | All rights reserved. | Soteria.,LLC</p>
    </footer> -->
    <footer th:replace="fragments/footer :: footer"></footer>
    <script th:src="@{/script/js/moment-with-locales.min.js}"></script>
    <script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/plugins/jquery-ui/jquery-ui.js}"></script>
    <script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/extensions/dataTables.jqueryui.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/responsive/dataTables.responsive.js}"></script>
    <script th:src="@{/script/common.js}"></script>
	<script th:inline="javascript">
		var ctx = /*[[ @{/} ]]*/;
	</script>
    <script th:inline="javascript">
		var currSbbId = /*[[ ${server != null ? server.sbbId: '0'} ]]*/;
		var currHostId = /*[[ ${server != null ? server.hostId: '0'} ]]*/;
		var historyId = /*[[ ${hId} ]]*/;
		var uId = /*[[ ${user.userId}]]*/
	</script>
    <script>
        $(document).ready(function() {
        	init();
        } );
        
        function init(){
        	var table = $('#detail_log').DataTable({
	            language: {
		            searchPlaceholder: 'Search...',
		            sSearch: ''
	            },
	            ajax: {
	            	url: ctx+'audit/neurotron/syscall',
	  		        type:'POST',
	  		        dataSrc: function(out){
	  		        	if(!out.data.list){
	  		        		return [];
	  		        	}else{
	  		        		return out.data.list;
	  		        	}
	  		        },
	            	data: {
	            		sbbId: currSbbId,
	            		hId: historyId
	            	}
	            },
	            columns: [ 
			 		{'data': 'logNo'},
					{'data': 'startDate'},
					{'data': 'syscall'},
					{'data': 'exe'},
					{'data': 'hostName'},
					{'data': 'os'},
					{'data': 'argument'}
				],
				columnDefs: [
					{ targets: 1, render: function(data,type,row){return moment(data).format(date_foramt_table)}}
				]
            });
            $('#detail_log').DataTable();
        }
        
        function getSyscallLogs(){
        	var url = ctx+"audit/neurotron/details";
			var req = $.ajax({
				type : "POST",
		        async: false,
		        dataType: "json",
		        contentType: "application/json",
		        url : url,
		        data: JSON.stringify({})
		    });
			req.done(function(out){
				if(out.code === 0){
					
					
				}else{
					console.log('데이터 조회에 실패하였습니다.');
				}				
			}).fail(function(err){
				console.log(err);
			}).always(function(){
			});
        }
    </script>
    
</body>
</html>